.hero{
    background-image: url("../images/wordpress-theme.png") !important;
    //background-image: url("images/foret-amazone.jpg");
    //filter: blur(5px);
    background-repeat: no-repeat;
    background-position: 95% 40%;
}