:root {
    --couleur-arriere-entete : #618aad;
    --couleur-arriere-accueil : #0f0;
    --couleur-arriere-evenement : #045;
    --couleur-arriere-galerie : rgb(223, 230, 42);
    --couleur-arriere-footer : #630;
}