.cours{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
}

.carte{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 20%;
    border : 1px solid #aaa;
}