.cours{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
}

.carte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0  1 calc(1100px/4);
    border : 1px solid #aaa;
    background-color: var(--_couleur-arriere);
}
