:root {
    /* 
    --couleur-arriere-entete : #275227;
    --couleur-arriere-acceuil: #203b20;
    --couleur-arriere-evenement : #043a04;
    --couleur-arriere-galerie : #324632;
    --couleur-arriere-footer : #5f765f;
    */

    //calcul des teintes//
    --u1: 180; // couleur initiale
    --u2: calc(var(--u1) + 180); // couleur complementaire
    --u3: calc(var(--u2) - 30); // couleur analogue gauche
    --u4: calc(var(--u2) + 30) // couleur analogue droite

    //la saturation//
    --s-arriere : 100%;
    --s-avant : 50%
    //la luminosite//
    --l-arriere: 30%;
    --l-avant: 70%;


    //couleur arriere-plan//
    --couleur-arriere-entete : hsl(var(--u1), var(--s-arriere), var(--s-arriere));
    --couleur-arriere-acceuil: hsl(var(--u1), var(--s-arriere), var(--s-arriere));
    --couleur-arriere-evenement : hsl(var(--u1), var(--s-arriere), var(--s-arriere));
    --couleur-arriere-galerie : hsl(var(--u1), var(--s-arriere), var(--s-arriere));
    --couleur-arriere-footer : hsl(var(--u1), var(--s-arriere), var(--s-arriere));

    //couleur avant-plan//
    --couleur-avant-entete : hsl(var(--u1), var(--s-avant), var(--s-avant));
    --couleur-avant-acceuil: hsl(var(--u1), var(--s-avant), var(--s-avant));
    --couleur-avant-evenement : hsl(var(--u1), var(--s-avant), var(--s-avant));
    --couleur-avant-galerie : hsl(var(--u1), var(--s-avant), var(--s-avant));
    --couleur-avant-footer : hsl(var(--u1), var(--s-avant), var(--s-avant));
}