:root {
    --couleur-arriere-entete : #275227;
    --couleur-arriere-acceuil: #203b20;
    --couleur-arriere-evenement : #043a04;
    --couleur-arriere-galerie : #324632;
    --couleur-arriere-footer : #5f765f;

}