// https://chrisburnell.com/clamp-calculator/

h1{
    font-size: clamp(1rem, -3.219rem + 13.5vw, 4.375rem);
    // color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
    font-style: normal;
}
h2{
    font-size: clamp(1rem, -1.292rem + 7.333vw, 3.75rem);
    font-weight: 500;
    font-style: normal;
}
// h3{}
// h4{}
// h5{}
// h6{}
